<div class="row">
  <div class="col-md-6">
    <h3>Friday 2.12.2022</h3>
    <table class="table table-striped">
    <tr> <td>16:00</td>  <td><a href="https://uib.zoom.us/j/64729355734?pwd=Qy9ZVEU2UDJINmVndWY2WmJQRzhUZz09">Online install Session (Zoom)</a>l</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> 
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell</a>l</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">The Unix Shell (Continued)</a></td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis</a></td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Continued)</a></td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Continued)</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">R for Reproducible Scientific Analysis (Continued)</a></td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>14:15</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
